streamlit
langchain
langchain-community
langchain-groq
faiss-cpu
sentence-transformers
huggingface-hub
pypdf
python-dotenv
spacy
transformers
torch
accelerate
chromadb
PyPDF2
langchain-huggingface
SpeechRecognition
audio-recorder-streamlit
PyMuPDF
gTTS
streamlit-option-menu
pillow
reportlab